@import "tailwindcss";

html {
    scrollbar-width: thin;
}

.hero {
    background: url("./assets/images/slide-1.jpg") center / cover no-repeat;
}

.hero .big-text {
    letter-spacing: 2px;
    font-weight: 640;
}